* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoStrip {
  text-align: left;
  display: block;
  height: 1.5em;
  font-size: 2.5em;
  background-color: #ECECEC;
  border-bottom: 2px solid #616161;
}

.words {
  position: relative;
  top: 5px;
  left: 20px;
  color: #616161; 
}

.greenBoy {
  color: #38AE53;
}

.navLink {
  float: left;
  margin: 10px 0 10px 20px;
  color: #616161;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.navLink:hover {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.3s ease-in-out;
}

.navLink2 {
  float: right;
  margin: 10px 20px;
  color: #616161;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.navLink2:hover {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.3s ease-in-out;
}

.ordersContainer {
  display: block;
  margin-top: 50px;
}

.orders {
  table-layout: auto;
  margin: 0 25px;
  border-collapse: collapse;
}

.orders th,
.orders td {
  border: 2px solid lightgray;
  padding: 5px 10px;
}

.profilesContainer {
  display: block;
  margin-top: 50px;
}

.profiles {
  table-layout: auto;
  margin: 0 25px;
  border-collapse: collapse;
}

.profiles th,
.profiles td {
  border: 2px solid lightgray;
  padding: 5px 10px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  width: 25%;
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  width: 50%;
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  width: 75%;
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  text-align: center;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.visa{
  color: navy
}

.product{ 
  margin: auto;
  text-align: center;
}

.center{
  align-content: center;
  text-align: center;
}

.margin{
  margin: 60px;
}

ul {
  width: 70%;
  margin: auto;
}

/* CSS for Product Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* Need to Use these elements for 12 Column Grid across all pages */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}